@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: "Ubuntu";
}

html {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.68) 32.6%, rgba(85, 231, 82, 0.68) 64.37%, rgba(62, 177, 200, 0.648) 80.52%);
}

body {
    margin: 0;
}

.breadcrumbs {
    margin-top: 10%;
    margin-left: 20%;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: fit-content;
    padding: 5px;
}

    .breadcrumbs .pijl {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
    }

    .breadcrumbs a {
        text-decoration: none;
        color: #fff;
    }

header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.logo {
    margin-right: auto;
}

    .logo img {
        margin-bottom: 10px;
        width: 300px;
        height: auto;
    }

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 50px;
}

    li a {
        display: inline-block;
        padding: 10px;
        font-weight: 200;
        text-decoration: none;
        text-align: center;
        color: #000000;
    }

.blok {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

.afbeelding {
    flex: 1;
    height: 400px;
    width: 600px;
    background-image: url("../images/main-image.jpg");
    background-size: cover;
    background-position: center;
}

.tekstblok {
    flex: 1;
    margin-left: 25px;
}

    .tekstblok h2 {
        font-size: 22px;
        margin-bottom: 5px;
        color: #0090EB;
    }

    .tekstblok p {
        margin-bottom: 10px;
        width: 80%;
        color: rgb(0, 0, 0);
    }

    .tekstblok ul {
        list-style: none;
        margin-top: 5px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .tekstblok li {
        align-items: center;
        margin-bottom: 3px;
    }

    .tekstblok a {
        color: #0090EB;
    }

.pijl {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #0090EB;
    border-right: 2px solid #0090EB;
    transform: rotate(45deg);
}

.doelgroepblok {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    position: relative;
}

.doelgroepafbeelding {
    flex: 1;
    height: 300px;
    width: 500px;
    background-image: url("../images/scholieren.jpg");
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

.doelgroepafbeelding2 {
    flex: 1;
    height: 300px;
    width: 500px;
    background-image: url("../images/studenten.jpg");
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

.doelgroepafbeelding3 {
    flex: 1;
    height: 300px;
    width: 500px;
    background-image: url("../images/stage-bedrijf.jpg");
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

.doelgroepafbeelding4 {
    flex: 1;
    height: 300px;
    width: 500px;
    background-image: url("../images/aventus-algemeen.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: 0%;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

.doelgroeptekstblok {
    flex: 1;
    z-index: 1;
    height: 300px;
    margin-top: 5%;
    margin-left: 40%;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
}

    .doelgroeptekstblok h2 {
        font-size: 22px;
        margin-left: 3%;
        margin-bottom: 5px;
        color: #0090EB;
    }

    .doelgroeptekstblok p {
        margin-bottom: 10px;
        margin-left: 3%;
        width: 80%;
        color: rgb(0, 0, 0);
    }

    .doelgroeptekstblok button {
        background: linear-gradient(90deg, rgba(98, 192, 209, 0.8) 2.66%, rgba(78, 210, 78, 0.85) 97.34%);
        color: #fff;
        font-size: large;
        border: none;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        margin-top: 12%;
        margin-left: 42%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

button .pijl {
    width: 10px;
    height: 10px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    margin-left: 250px;
}


footer {
    background-color: white;
    height: 100px;
}

    footer p {
        margin-left: 10px;
        margin-top: 25px;
    }

hr {
    margin-left: 30px;
    width: 95%;
    border-top: 1px solid #000000;
}

.footer-items {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.vl {
    border-left: 1px solid black;
    height: 60px;
    margin-left: 15px;
    margin-top: 5px;
}

footer .logo {
    height: 70%;
    margin-top: 10px;
    margin-left: 10px;
}

footer img {
    height: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media (max-width: 700px) {
    * {
        font-family: "Ubuntu";
    }

    html {
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.68) 32.6%, rgba(85, 231, 82, 0.68) 64.37%, rgba(62, 177, 200, 0.648) 80.52%);
    }

    body {
        margin: 0;
    }

    .breadcrumbs {
        margin-top: 8%;
        margin-left: 20%;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: fit-content;
        padding: 5px;
    }

        .breadcrumbs .pijl {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(45deg);
        }

        .breadcrumbs a {
            text-decoration: none;
            color: #fff;
        }

    header {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 4;
    }

        header li a {
            display: none;
        }

    .logo img {
        margin-bottom: 10px;
        width: 300px;
        height: auto;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    li {
        margin-right: 45px;
    }

        li a {
            display: inline-block;
            padding: 10px;
            font-weight: 200;
            text-decoration: none;
            text-align: center;
            color: #000000;
        }

    .blok {
        display: flex;
        background-color: #fff;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 35%;
        border-radius: 10px;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

    .afbeelding {
        flex: 1;
        height: 400px;
        width: 600px;
        background-image: url("../images/main-image.jpg");
        background-size: cover;
        background-position: center;
        display: none;
    }

    .tekstblok {
        flex: 1;
        margin-left: 20px;
    }

        .tekstblok h2 {
            font-size: 28px;
            color: #0090EB;
        }

        .tekstblok p {
            margin-bottom: 30px;
            font-size: 20px;
            color: rgb(0, 0, 0);
        }

        .tekstblok ul {
            list-style: none;
            margin: auto;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .tekstblok li {
            align-items: center;
            margin-bottom: 3px;
            font-size: 18px;
        }

        .tekstblok a {
            color: #0090EB;
            padding: 5px;
        }

    .pijl {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #0090EB;
        border-right: 2px solid #0090EB;
        transform: rotate(45deg);
    }

    .doelgroepblok {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .doelgroepafbeelding {
        height: 200px;
        width: 100%;
        background-image: url("../images/scholieren.jpg");
        transform: scaleX(-1);
        border-radius: 10px;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

    .doelgroepafbeelding2 {
        flex: 1;
        height: 200px;
        width: 100%;
        background-image: url("../../assets/images/studenten.jpg");
        transform: scaleX(-1);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: absolute;
        left: 0%;
        top: 0%;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

    .doelgroepafbeelding3 {
        flex: 1;
        height: 200px;
        width: 100%;
        background-image: url("../../assets/images/stage-bedrijf.jpg");
        transform: scaleX(-1);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: absolute;
        left: 0%;
        top: 0%;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

    .doelgroepafbeelding4 {
        flex: 1;
        height: 200px;
        width: 100%;
        background-image: url("../images/aventus-algemeen.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: absolute;
        left: 0%;
        top: 0%;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

    .doelgroeptekstblok {
        z-index: 2;
        height: 300px;
        margin-top: 50%;
        margin-right: 40%;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.25);
    }

        .doelgroeptekstblok h2 {
            font-size: 22px;
            margin-bottom: 5px;
            color: #0090EB;
        }

        .doelgroeptekstblok p {
            margin-bottom: 10px;
            width: 80%;
            color: rgb(0, 0, 0);
        }

    button {
        background: linear-gradient(90deg, rgba(98, 192, 209, 0.8) 2.66%, rgba(78, 210, 78, 0.85) 97.34%);
        color: #fff;
        font-size: large;
        border: none;
        width: 60%;
        height: 40px;
        border-radius: 10px;
        font-weight: 600;
        margin: 0 auto;
        margin-bottom: 20px;
    }

        button .pijl {
            width: 10px;
            height: 10px;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            margin-right: 32%;
        }


    footer {
        background-color: white;
        height: 100px;
    }

        footer p {
            font-size: 12px;
        }

    hr {
        width: 85%;
        border-top: 1px solid #000000;
    }

    .footer-items {
        display: flex;
        flex-direction: row;
    }

    .vl {
        border-left: 1px solid black;
        height: 60px;
        margin-top: 5px;
    }

    footer img {
        height: 25px;
        margin-top: 20px;
        width: auto;
    }
}
